* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    // background: url(../img/sunset-petone.jpg)no-repeat ;
    background-color: $blue;
    // width: 100%;
    //@debugheight: auto;
  }
  
  .triangle{
    width: 0;
    height: 20%;
    //opacity: .6;
    border-bottom: 100vh solid $mint;
    border-left: 100vw solid transparent;
    //border-right: 100vw solid transparent;
  }
//   .triangle_2{
//     width: 0;
//     height: 0;
//     //opacity: .6;
//     border-bottom: 100vh solid $pink;
//     border-right: 100vw solid transparent;
//     //border-right: 100vw solid transparent;
//   }
#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid $pink;
    border-right: 100px solid transparent;
  }

// #triangle-bottomleft {
//     width: 25%;
//     height: 0;
//     border-bottom: 100px solid $pink;
//     border-right: 100px solid transparent;
//     float: left;
//   }

h1{
    font-family: $mH;
    color: $cream;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
  }
h2{
    font-family: $mH;
    color: $cream;
    font-size: 1.2em;
    text-align: center;
    padding-top: 20px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: $mint;
    text-align: center;
}
// .logo{
//     //width: 50%;
//     margin: auto;
//     border-radius: 50%
// }
.btn_nav{
    font-family: $mH;
    color: $cream;
    font-size: 1em;
    text-align: center;
    background-color: $pink;
    border-color: $pink !important;
    margin: 10px;
    width: 100px;
}
// .btn-info {
//     border-color: none !important;
// }

.btn:hover {
    color: #fff;
    background-color: $mint;
    border-color: $mint;
}

//ABOUT
// img#img_profile{
//     width: 100px !important;
//     //display: relative;
    

// }
// img{
//     width: 100px !important;
// }

.iconsocial{
    width: 15px !important;
}